<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.shoutout.Shoutout</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Applications/Shoutout.app/Contents/MacOS/daemon</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/dev/null</string>
	<key>StandardOutPath</key>
	<string>~/Library/Application Support/shoutout/daemon_log.log</string>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Minute</key>
		<integer>0</integer>
		<key>Hour</key>
		<integer>1</integer>
		<key>Day</key>
		<integer>0</integer>
	</dict>
</dict>
</plist>
